@import "tailwindcss";
@import "@fontsource/roboto-flex";

body {
  background-color: #010101;
  color: #f8f8f5;
  font-family:"Roboto Flex", sans-serif;
}

@import "tailwindcss";

@theme {
  --color-primary: #ffb200;
  --color-secondary: #eb7323;
  --color-tertiary: #23a0eb;
  --color-quaternary: #465d6b;
  --color-quinary: #6b6046;

  --font-sans: "Roboto Flex", sans-serif;
  --border-black: #000;
  --border-black-rad: rgba(0, 0, 0, 0.8);
  --border-white-rad: rgba(242, 242, 242, 0.8);

  --font-2xs: 0.5rem;
  --font-3xs: 0.375rem;

  --max-w-1-12: 8.333333%;
  --max-w-2-12: 16.666667%;
  --max-w-3-12: 25%;
  --max-w-4-12: 33.333333%;
  --max-w-5-12: 41.666667%;
  --max-w-6-12: 50%;
  --max-w-7-12: 58.333333%;
  --max-w-8-12: 66.666667%;
  --max-w-9-12: 75%;
  --max-w-10-12: 83.333333%;
  --max-w-11-12: 91.666667%;
  --max-w-12-12: 100%;

  --max-h-1-10: 10vh;
  --max-h-2-10: 20vh;
  --max-h-3-10: 30vh;
  --max-h-4-10: 40vh;
  --max-h-5-10: 50vh;
  --max-h-6-10: 60vh;
  --max-h-7-10: 70vh;
  --max-h-8-10: 80vh;
}
