@import "tailwindcss";
@import "@fontsource/roboto-flex";

body {
  background-color: #010101;
  color: #f8f8f5;
  font-family:"Roboto Flex", sans-serif;
}

@import "tailwindcss";

@theme {
  --color-primary: #ffb200;
  --color-secondary: #eb7323;
  --color-tertiary: #23a0eb;
  --color-quaternary: #465d6b;
  --color-quinary: #6b6046;

  --font-sans: "Roboto Flex", sans-serif;
}
