---
import { Icon } from "astro-icon/components";
---

<button
  class="text-sm bg-primary text-blue-700 cursor-pointer group rounded-full pr-8 border-solid border-2 border-white"
>
  <span
    class="py-2 flex flex-col items-start group-hover:translate-x-8 transition pl-5 pr-8 rounded-full border-solid border-2 border-white"
  >
    <Icon name="arrow" class="text-2xl rotate-45 group-hover:rotate-0 transition" />
    <span>Contact</span>
    <span>us</span>
  </span>
</button>
